.vs/
appsettings.json
appsettings.Development.json
appsettings.Production.json
obj/
*.user
*.suo
*.sln.docstates
binaries/
artifacts/ 
.vs/
bin/
obj/
launchSettings.json
.vscode

Store/.DS_Store
.DS_Store
Store/Views/Home/.DS_Store
